<!doctype html>
<html lang="en">
<head>
    <title>DIABETIC PREDICTION | LOGIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
<div class="glass-morphism">
<section class="ftco-section">
    <div class="container"class="glass-morphism">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <!--  Doctors Login Form -->
                <div class="wrap d-md-flex" id="doctor">
                    <div class="col-md-6"style="display: flex;justify-content: center;align-items: center;height: auto;">
                        <h2 style="font-weight:400;font-family: 'Anton', sans-serif;font-size:44px;color:#6B63FF;">DIABETIC PREDICTION USING MACHINE LEARNING</h2>
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h4 class="mb-4">Doctor's Login</h4>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="mdi mdi-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="mdi mdi-twitter"></span></a>
                                </p>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <button type="" class="btn btn-primary"style="width:49%;"onclick="toggleLogin('doctor')">Doctor</button>
                            <button type="" class="btn btn-outline-primary ml-auto"style="width:49%;"onclick="toggleLogin('patient')">Patient</button>
                        </div>

                        <form action="{{ url_for('login') }}" method="post"class="signin-form">
                            <div class="form-group mb-3">
                                <label class="label" for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                            <p class="text-danger">{{msg}}</p>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In
                                </button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/docForgotPass">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <div class=""style="line-height:1;">
                            <p class="text-center lh-1">Not a member? <a data-toggle="tab" href="/register">Sign Up</a></p>
                        </div>
                    </div>
                </div>
                <!--  Patient Login Form -->
                <div class="wrap d-md-none" id="patient">
                    <div class="col-md-6"style="display: flex;justify-content: center;align-items: center;height: auto;">
                        <h2 style="font-weight:400;font-family: 'Anton', sans-serif;font-size:44px;color:#6B63FF;">DIABETIC PREDICTION USING MACHINE LEARNING</h2>
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h4 class="mb-4">Patient's Login</h4>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="mdi mdi-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="mdi mdi-twitter"></span></a>
                                </p>
                            </div>
                        </div>

                        <div class="row mb-1">
                            <button type="" class="btn btn-outline-primary"style="width:49%;"onclick="toggleLogin('doctor')">Doctor</button>
                            <button type="" class="btn btn-primary ml-auto"style="width:49%;"onclick="toggleLogin('patient')">Patient</button>
                        </div>

                        <form action="{{ url_for('loginPatient') }}" method="post"class="signin-form">
                            <div class="form-group mb-3">
                                <label class="label" for="username">Username</label>
                                <input type="text" class="form-control" id="p_username" name="p_username" placeholder="Username" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input type="password" class="form-control" id="p_password" name="p_password" placeholder="Password" required>
                            </div>
                            <p class="text-danger">{{msg}}</p>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In
                                </button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/patientForgotPass">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <div class=""style="line-height:1;">
                            <p class="text-center lh-1">Not a member? <a data-toggle="tab" href="/register">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="static/assets/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="static/assets/css/loginRegisterStyle.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<!--<script>-->
<!--function preventBack() {-->
<!--    window.history.forward();-->
<!--}-->
<!--setTimeout("preventBack()", 0);-->
<!--window.onunload = function () { null };-->
<!--</script>-->

<script>
    function toggleLogin(userType) {
        if (userType === 'doctor') {
            document.getElementById('doctor').classList.remove('d-md-none');
            document.getElementById('doctor').classList.add('d-md-flex');

            document.getElementById('patient').classList.remove('d-md-flex');
            document.getElementById('patient').classList.add('d-md-none');
        } else if (userType === 'patient') {
            document.getElementById('doctor').classList.remove('d-md-flex');
            document.getElementById('doctor').classList.add('d-md-none');

            document.getElementById('patient').classList.remove('d-md-none');
            document.getElementById('patient').classList.add('d-md-flex');
        }
    }
</script>

</body>
</html>

